:root {
	--primary: #6ac;
	--primary-dark: #269;
	--primary-light: #9de;
	--primary-light-trans: #9deb;
	--primary-contrast: #fff;
	--primary-accent: #75b;
	--primary-neutral: #888;
	--alt-one: #37a;
	--alt-two: #6a6;
	--primary-font: Nunito Sans;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	/* padding: 8px; */
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	min-height: 200vh;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

#reviews {
	padding: 4rem 2rem;
	background-color: var(--primary-light-trans);
	background-image: url(/bg-transparent.png);
	background-size: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	overflow: hidden;
}

h2 {
	margin: 0;
	margin-bottom: 1rem;
	font-size: 2.5rem;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--primary-dark);
}

.button {
	display: inline-block;
	margin-top: 2rem;
	padding: 1rem 2rem;
	background-color: var(--primary-dark);
	color: var(--primary-contrast);
	font-weight: bold;
	border: 3px solid var(--primary-dark);
	border-radius: 4px;
}

.button:hover {
	background-color: transparent;
	color: var(--primary-dark);
	border: 3px solid var(--primary-dark);
	text-decoration: none;
}